{% extends 'base.html.twig' %}

{% block title %}Criar Usuario!{% endblock %}

{% block body %}

    <div class="container-form">
        <h1>Crie sua conta agora!</h1>

        {{ form_start(formulario) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(formulario) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(formulario.nomeCompleto) }}
            </div>
            <div class="col">
                {{ form_row(formulario.email) }}
            </div>
            <div class="col">
                {{ form_row(formulario.senha) }}
            </div>
        </div>
        {{ form_end(formulario) }}
    </div>
{% endblock %}

